body{margin:0;background:#00f;font-family:sans-serif;color:#ff0;text-transform:uppercase;text-shadow:2px 2px 0 #000;font-size:22px}
table{width:100%;background:#000080;border:1px solid #ff0;border-collapse:collapse;font-weight:bold;font-size:16px}
td{border-left:1px solid #ff0;padding:0 4px;text-align:right}
.label{text-align:left}
tr:nth-child(even){background:#00009a}
tr:nth-child(odd){background:#000080}
.message{text-transform:uppercase;font-size:22px;padding:5px 10px 0 10px;width:45%;float:left}
.credits{float:right;text-align:right}
.cards,.buttons{clear:both;max-width:760px;margin:0 auto}
.card_unit{float:left;width:152px;height:275px}
.card{width:140px;height:195px;background-color:#fff;border:3px solid #fff;border-radius:5px;margin:7px;position:relative;box-shadow:inset 0 0 1px 1px #000;}
.card .suit{width:100px;height:133px;background-image:url("suits_sprite.png");background-size:400px 133px;margin:50px auto 0 auto}
.card .value{position:absolute;font-size:50px;text-shadow:none;font-weight:bold;top:0;left:10px}
.card.hold{border:3px solid #f00}
button{width:140px;height:50px;background:#ff0;margin:5px 8px;border:none;border-radius:10px;font-size:22px;font-weight:bold}
button:hover{background:#f0f000}
.buttons button{float:right;width:200px}
.undefined{background:#000080}
.diamonds .suit{background-position:0 0}
.clubs .suit{background-position:-100px 0}
.hearts .suit{background-position:-200px 0}
.spades .suit{background-position:-300px 0}
.diamonds .value,.hearts .value{color:#f00}
.clubs .value,.spades .value{color:#000}
